extends ../layout/_default

append config
  - body_class = 'list-page'
  - breadcrumb = [categories[category_id-1]]

block shadow-header
  .module-submenu.clearfix
    .category-viewbox
      - var currentCategory = subcategory_tree[category_id]
        .category-box.active
          p !{currentCategory.intro}
          ul
            each subs in currentCategory.children
              li.sub-category-box
                a.sub-category-text(href="#") #{subs.text}
                if !!subs.children
                  .children
                    ul
                      each child in subs.children
                        li: a(href="#") #{child}

block main
  .post-list.cover-view
    ul.posts
      each post in category.posts
        li.post
          .cover(style="background-image: url(/images/#{post.image}.jpg)")
          a.post-link(href="/post/1.html")
            h2= post.title
          .circle.circle-date
            .day= post.day
            .month= post.month
          .category
            a(href="#")= post.category
            a(href="#")= post.subcategory
  include ../partial/_category_neighbors
